@media (min-width: 375px) {
	.mobile {
		.container {
			.search-box {
				justify-content: center;
				margin-right: 2.5em;
				.search {
					max-width: 150px;
				}
			}
		}
	}

	.main {
		.sidebar {
			.container {
				.sidebar-menu {
					height: 120%;
				}
			}
		}
	}
}

@media (min-width: 414px) {
	.mobile {
		.container {
			.search-box {
				.search {
					max-width: 175px;
				}
			}
		}
	}

	.main {
		.sidebar {
			.container {
				.sidebar-menu {
					height: 100%;
				}
			}
		}

		.favorite-box {
			.fav-container {
				.fav-li {
					.fav-img-box {
						width: 250px;

						.fav-img {
							max-width: 200px;
							min-height: 200px;
						}
					}
				}
			}
		}
	}
}
